<!DOCTYPE html>
<head>
    <title>inserir_pessoas</title>
</head>
<body>
    <form action="/adicionar">
        <label for="nome">Nome:</label>
        <input type="text" name="nome">
    
        <label for="endereco">Endereco:</label>
        <input type="text" name="endereco">

        <label for="cpf">CPF:</label>
        <input type="text" name="cpf">
    
        <label for="telefone">Telefone:</label>
        <input type="text" name="telefone">
        <input type='submit' value="Inserir">
    </form>    
</body>
</html>
